.selectCalendar {
  position: relative;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  min-width: 150px;
}

.value {
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  padding-inline: 12px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  column-gap: 12px;
}

.iconContainer {
  width: 15px;
}

.valueDate {
  font-size: 12px;
}

.placeholder {
  color: #1f2024;
}

.menuContainer {
  position: relative;
}
