.root {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  color: #21272a71;

  & img {
    object-fit: cover;
    object-position: center;
  }
}

