.modalContent {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;

  @media (max-width: 500px) {
    row-gap: 20px;
    padding: 20px;
  }
}

.modalContentFooter {
  display: flex;
  column-gap: 16px;

  @media (max-width: 500px) {
    column-gap: 8px;
  }
}
