.circle {
  width: 62px;
  height: 62px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000007;

  &::before {
    content: "";
    position: absolute;
    width: 70%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
  }
}

.percentText {
  font-weight: 700;
  color: #47c0bb;
  margin: 0;
  z-index: 1;
}
