.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: attr(data-width px);
  user-select: none;
}

.selectValueButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafb;
  border: 1px solid #ffcb54;
  border-radius: 6px;
  padding-inline: 12px;
  padding-block: 4px;
  min-height: 60px;
}

.selectValueButton:disabled {
  cursor: default;
  border-bottom: none;
}

.selectValueButton:focus-visible {
  border-color: gray;
}

.values {
  width: calc(100% - 32px);
  display: flex;
  height: 52px;
  position: relative;
  align-items: flex-end;
}

.input {
  background-color: inherit;
  outline: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #14212e;
  width: 100%;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.arrowIconActive {
  will-change: transform;
  animation: rotateOpen 0.15s linear 0s 1 forwards;
}

@keyframes rotateOpen {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

.dropdownMenu {
  width: 100%;
  position: absolute;
  overflow-y: auto;
  max-height: attr(data-height px);
  background-color: #f9fafb;
  border: 1px solid #ffcb54;
  border-radius: 6px;
  top: 76px;
}

.dropdownMenuActive {
  z-index: 10;
}

.dropdownMenuItemButton {
  padding: 8px 12px;
  width: 100%;
  color: #14212e;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  text-wrap: balance;
}

.dropdownMenuItemButton:hover {
  background-color: #fffcf5;
}

.dropdownMenuItemButton:focus {
  box-shadow: 1px 1px 4px 1px #f9e0a4;
  outline: none;
}

.dropdownMenuItemButton:active {
  box-shadow: none;
  outline: none;
}

.dropdownMenuItemButtonActive {
  background-color: #ffecc2;
}

.dropdownMenuItemButtonActive:hover {
  background-color: #ffecc2;
}

.dropdownMenuItemButtonText {
  color: currentColor;
}

.label {
  position: absolute;
  color: #727272;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s linear;
}

.labelActive {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  line-height: 16px;
  left: 0;
  top: 0;
  transform: translateY(0%);
}

.selectValueButton:focus-within .label {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  line-height: 16px;
  left: 0;
  top: 0;
  transform: translateY(0%);
}

@media (max-width: 639px) {
  .selectValueButton {
    min-height: 53px;
  }

  .label {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 16px;
  }

  .labelActive {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .dropdownMenuItemButton {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 12px;
  }

  .input {
    font-size: 15px;
    line-height: 20px;
  }
}
