.pagination {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: 400;
  column-gap: 12px;
}

.paginationPage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b2128;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  font-family: Inter, sans-serif;
}

.paginationPageWhite {
  cursor: default;
  opacity: 1;
  border: 1px solid #d1d1d6;
  background-color: white;
}

