.calendarPanelItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  min-height: 40px;
  cursor: pointer;

  @media (max-width: 880px) {
    min-height: 44px;
    max-height: 44px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
    min-height: 25px;
    max-height: 25px;
  }
}

.calendarPanelItemPassing {
  background-color: #1ba7a20f;
}

.calendarPanelItemNumber {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentcolor;
  border-radius: 4px;

  &:hover {
    background-image: linear-gradient(to right, #1ba7a2, #4ac5c0);
    color: white;
  }
}

.calendarPanelItemSelected {
  background-image: linear-gradient(to right, #1ba7a2, #4ac5c0);
  color: white;
}

.itemToday {
  border: 1px dashed #1ba7a24f;
}

.calendarPanelItemNotInRange {
  opacity: 0.3;
}
