.root {
  will-change: opacity;
  position: absolute;
  z-index: 2;
  font-weight: 800;
  transform: translateY(6px);
  animation: open 0.15s linear 0s 1;
  cursor: default;
  user-select: none;

  @media (max-width: 500px) {
    max-width: 90vw;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content {
  background-color: white;
  position: absolute;
  width: 450px;
  box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 7.4%);
  border-radius: 10px;
  padding-bottom: 10px;

  @media (max-width: 500px) {
    max-width: 90vw;
  }
}

.headerLine {
  padding-block: 10px 20px;
  padding-inline: 16px 21px;
  display: flex;
  justify-content: space-between;
}

.headerItem {
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;

  @media (max-width: 880px) {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.buttonArray {
  font-weight: 800;
  background-color: rgb(255 255 255 / 0%);
  font-size: 20px;
  border: none;
  cursor: pointer;

  @media (max-width: 880px) {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.mouthText {
  min-width: 130px;
  text-align: center;

  @media (max-width: 880px) {
    min-width: 100px;
  }

  @media (max-width: 500px) {
    min-width: 70px;
  }
}

.itemsWrapper {
  padding-inline: 16px;
}

.daysList {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.calendarDayList {
  padding: 0;
  margin: 0;
  display: flex;
  height: 18px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
}

.dayItem {
  text-align: center;
  font-size: 13px;
  color: #a3a3a3;
  min-width: 40px;
  cursor: default;
  user-select: none;

  @media (max-width: 880px) {
    font-size: 13px;
    min-width: 40px;
  }

  @media (max-width: 500px) {
    font-size: 8px;
    min-width: 28px;
  }
}
