.activeCopySvg {
  scale: 1;
  animation: 0.3s linear 0s copyAnimate 1;
}

@keyframes copyAnimate {
  0% {
    transform: scale(1) translateY(-1px);
    fill: green;
    stroke: green;
  }
  50% {
    transform: scale(1.1) translateY(-0.6px);
    fill: green;
    stroke: green;
  }

  100% {
    transform: scale(1) translateY(0px);
  }
}
