.inputLabel {
  color: #83848b;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  height: 60px;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  row-gap: 5px;
  border: 1px solid #e0e1e5;
  border-radius: 12px;
  padding-inline: 16px;
  overflow: hidden;
}

.input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: var(--text-color-main);

  &:focus {
    .inputWrapper {
      border: 1px solid #e49d797c;
    }
  }

  &::placeholder {
    color: #b0b9b6;
  }
}

.input:focus .inputWrapper {
  border: 1px solid #e49d797c;
}
